# Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node (si se usa)
node_modules/
package-lock.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Logs
*.log

# Archivos temporales
*.tmp
*.bak
~*

# Construcción
dist/
build/
